/* REPORT CSS */

.owa_reportContainer {width:auto; background-color: #ffffff;}
.owa_reportElement {width:100%; text-align:center; vertical-align: top;}
.owa_reportSectionHeader, .section_header {
	width:auto; 
	color:#ffffff;
	padding:5px 5px 5px 0px; 
	margin: 10px 0 10px 0; 
	font-size: 18px; 
	font-weight:bold;
	color: orange;
	border-bottom:1px dotted #9f9f9f;
}
.owa_reportSectionContent {margin: 0px;}


#report_header {width:100%; margin: 0 0 20px 0;}
.report_headline {font-size:26px; padding:5px; font-weight:bold;}
.data_table {border-collapse: collapse;margin:0;width:100%;}
.data_table td {border:2px solid #CCCCCC;  min-width:80px;padding:10px;}
.col_item_label {background-color:#CCCCCC; font-weight:bold; border-bottom: 2px solid #999999;}
.col_label {background-color:#CCCCCC; font-weight:bold; border-bottom: 2px solid #999999; text-align:center;}
.data_cell {text-align:center; vertical-align:center;}
.item_cell {}

.owa_dataGrid td {
	
	line-height:;
}


table.dimensionalResultSet {
	background-color: #505050;
	color:#A0A0A0;
	border-collapse: collapse;
	margin:0;
	width:100%;
	border-radius:5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;	
	-moz-box-shadow:2px 2px 2px #999;
    box-shadow:2px 2px 2px #999;
    -webkit-box-shadow:2px 2px 2px #999;	
}

.dimensionalResultSet td {
	border-left:1px solid #efefef;
	border-right:1px solid #efefef;
	padding:5px 10px 5px 10px;
}

.dimensionalResultSet tr{
	border-bottom:1px #efefef solid;
	background-color: #ffffff;
	color: #505050;
}


#owa_reportSiteFilter {width:; padding:5px; text-align: center; background-color:; margin-bottom:10px; border-bottom: 1px solid #efefef;}
#owa_reportSiteFilterSelect {font-size: 12px;}
#owa_reportSiteFilterSelect span {font-size: 18px; font-weight: bold; vertical-align: baseline;}

.owa_reportRevealControl, .owa_reportHideControl {width: 15px; background-color: #efefef; text-align: center;}
.owa_reportRevealControl {background-image: url(../i/15px-TriangleArrow-Down.png); background-repeat: no-repeat; background-position: center;}
.owa_reportHideControl {background-image: url(../i/15px-TriangleArrow-up.png.gif); background-repeat: no-repeat; background-position: center;}
.owa_reportPeriod {text-align: right; width:350px;}
#owa_reportPeriodControl table {border: 1px solid #cccccc;  padding: 0px; border-collapse: collapse;}


#owa_reportPeriodFiltersContainer {background-color: #efefef; width:100%;}
#owa_reportPeriodFiltersContainer table {width:100%;}
#owa_reportPeriodFiltersContainer td, th {padding:7px; text-align: left;}

#owa_reportPeriodLabelContainer {border: 1px solid #cccccc;  padding: 0px; width:100%;}
.owa_reportPeriodLabelText {padding:5px; font-size:18px; color:#999999; text-align: center;}

#owa_reportNavPanel {width:100%;}
#report_top_level_nav_ul {width:;}

.owa_reportLeftNavColumn {width:200px; margin-right:20px; border-right: 1px solid orange; background-color: #ffffff; padding: 5px 10px 5px 5px;}
.owa_visitSummaryInfobox {border: 1px solid #cccccc; border-left: 5px solid orange; text-align: left; padding:5px; margin-bottom:5px;}

.owa_metricInfobox {
	color:#ffffff; 
	background-color: #505050;
	text-align: left; 
	padding:0px; 
	margin:5px; 
	width:135px; 
	float:left;
	border-radius:5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;	
	-moz-box-shadow:2px 2px 2px #999;
    box-shadow:2px 2px 2px #999;
    -webkit-box-shadow:2px 2px 2px #999;
}

.owa_metricInfobox p {
	padding:2px 7px 2px 7px;
	margin:0;
	
}

p.owa_metricInfoboxLabel {
	color:#A0A0A0;
	font-size:14px;
	padding-top:6px;
}

.owa_metricInfoboxLargeNumber {
	color:#ffffff;
	font-size:32px;
	padding-bottom: 0px;
}

.owa_infobox {width:auto; padding:10px; border:1px solid #efefef; border-left:5px solid orange;}

.owa_admin_nav ul {list-style:none; margin:0px; padding:0px; }
.owa_admin_nav li {list-style:none; margin:10px; padding:0px; }
.owa_admin_nav_topmenu {padding:0px;border:1px solid #efefef;}
.owa_admin_nav_topmenu_container {background-color: #efefef;}
.owa_admin_nav_topmenu_item {background-color: #efefef;padding:0px;height:33px; vertical-align: middle; font-weight: bold;}
.owa_admin_nav_topmenu_toggle {border:0px solid #e9e9e9;width:30px;height:30px;float:right;background-image: url(../i/15px-TriangleArrow-Down.png); background-repeat: no-repeat; background-position: center;}

.owa_document {
	border: 1px solid #efefef;
	background-image: url(../i/document_icon_64.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 13px 10px 10px 63px;
}

.owa_document div {
	padding:2px;
}

.owa_document .title {
	font-size:22px;
}

.owa_document .url {
	font-size:12px;
	color: #9f9f9f;
}

.owa_document .pagetype {
	font-size:12px;
}

.owa_visitInfobox {
	color:#9f9f9f; 
	background-color: #505050;
	border:1px solid #505050;
	text-align: left; 
	padding:5px; 
	margin:5px; 
	width:475px; 
	border-radius:5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;	
	-moz-box-shadow:2px 2px 2px #999;
    box-shadow:2px 2px 2px #999;
    -webkit-box-shadow:2px 2px 2px #999;
    border-collapse: collapse;
    padding:0;
    margin:0;
	
}

.owa_visitInfoboxItemContainer, .owa_visitInfoboxItem   {
	background-color: #ffffff;
	border: 0px solid #A0A0A0;
	border-collapse: collapse;
}

.owa_visitInfoboxItem   {
	width: 64px;
}

.owa_visitInfoboxItem   {
	text-align:center;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}

.owa_visitInfoboxTitle {
	color:#A0A0A0;
	padding:6px;
	font-size:14px;
	margin:0px;
}

.owa_userInfobox {
	background-color: #ffffff;
}

.owa_avatar {
	height: 50px;
	width: 50px;
	border: 1px solid #efefef;
	padding: 2px;
	
}

.owa_userLabel {
	width:150px;
	height:50px;
}

.owa_userNameLabel {
	font-size: 20px;
	
}

.owa_userGeoLabel {
	font-size: 12px;
}

.owa_largeNumber {
	color:#505050;
	font-size:22px;
}

.owa_visitInfoboxDocContainer {
	background-color: #efefef;
	border: 1px solid #E0E0E0;
	border-collapse: collapse;
	width:100%;
}

.owa_icon16x16 {
	width:auto;
	padding:3px;
}



